{{>header}}

    <br>
    {{{respuesta}}}
    <br>
    <div class="text-center col-sm-12 pt-4">
    <h2><label for="listaCursos" class="form-label">Tus cursos</label></h2>
    <br>

<table class="table text-white">
    <thead>
        <th>Id</th>
        <th>Nombre del curso</th>
        <th>Valor</th>
        <th>Duracion</th>
        <th>Descripcion</th>
        <th>Modalidad</th>
    </thead>
    <tbody>
        {{#each misCursos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nombre}}</td>
            <td>{{this.valor}}</td>
            <td>{{this.duracion}}</td>
            <td>{{this.descripcion}}</td>
            <td>{{this.modalidad}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

    
{{>footer}}